<% content_for :title, 'archive' %>


<div class="wrapper">
  <div class="row">
    <div class="c8">

      <h1>Archive</h1>
      <p>A selection of other earlier projects. These will be made into their own case studies XXX</p>

    </div>
    <div class="c1 s2">
      <a class="arrow" href="/projecteo">&#x2190;</a>
    </div>

  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood_logo1.gif') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood_bats.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood_stickers.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/ji2.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/ji1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wu1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6">
      <%= image_tag('archive/wu_web.jpg') %>
    </div>
    <div class="c6">
      <%= image_tag('archive/wu3.jpg') %>
      <%= image_tag('archive/wu4.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wu_illos.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wu_illo1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/m1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/2.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/3.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/4.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/5.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/6.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/9.jpg') %>
    </div>
  </div>
</div>