

<div class="wrapper intro deskbeers">
  <div class="row">
    <div class="c8 s2 med-c10 sml-c12">

      <h5>DeskBeers</h5>
      <h1>Setting up and running a world-first service</h1>
      <p>Founder / MVP / Design / Marketing / Operations / Etc</p>


    </div>

    <!--
    <div class="c1 s2 med-s0">
      <a class="arrow" href="/yld">&#x2190;</a>
    </div>
    <div class="c1">
      <a class="arrow" href="/theround">&#x2192;</a>
    </div>
    -->

  </div>
</div>

<div class="wrapper">

  <div class="row">
    <div class="c8 s2">
        <p>I founded DeskBeers whilst working at Mint Digital. During the company's transition from a digital agency to a startup studio, I was asked to explore some potential business opportunities. After holding several brainstorming sessions, the concept of DeskBeers was born. I built a small team to validate the idea, and then go on to create an MVP with which we were creating revenue within eight weeks. Over the following year, I grew the team and business to be sending over 1500 bottles of beer every week to all over the UK.</p>
    </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('deskbeers/logo.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('deskbeers/brand.jpg') %>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <%= video_tag('deskbeers/db-film1.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>

  </div>


  <div class="row">
    <div class="c12">
      <%= image_tag('deskbeers/oldsite.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('deskbeers/icons1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= video_tag('deskbeers/db-film2.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('deskbeers/db5.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('deskbeers/db4.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('deskbeers/db6.jpg') %>
    </div>
  </div>

</div>