

<div class="wrapper intro">  
  <div class="row">
    <div class="c12">
      <%= image_tag('deskbeers/logo.png') %>
    </div>
  </div>
  <div class="row push-top">
    <div class="c8 s2 med-c10 sml-c12">

      <h1>DeskBeers <span>Branding, copywriting, strategy, UX, visual design &amp; front end</span><h1>

      <h2>I founded and ran DeskBeers whilst working at Mint Digital. We were generating revenue within eight weeks of concept, followed lean methodologies throughout, and the business is still thriving three years on.</h2>
    </div>
  </div>
  <div class="row">
    <div class="c8 s2 med-c12">
      <hr /> 
    </div>
  </div>



  <div class="row push-top-half">
    <div class="c4 s2">
      <p>During Mint Digital's transition from a digital agency to a startup studio, I was asked to explore some potential business opportunities. After holding several brainstorming sessions, the concept of DeskBeers was born. I built a small team to validate the idea, and then go on to create an MVP with which we were creating revenue within eight weeks. Over the following year, I grew the team and business to be sending over 1500 bottles of beer every week to all over the UK.</p>
    </div>
    <div class="c4">
      <p>At the beginning, everything was manual. Orders, payments, deliveries etc we're all completed by ourselves. We used a monsterous Google Sheet to track orders, GoCardless Paylinks to request and recieve payments, and ZipCar to delivery the beer each Friday.</p>
    </div>
  </div>

  <div class="row">
    <div class="c10 s1">
      <%= video_tag('deskbeers/db-film1.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>

  </div>

  <div class="row">
    <div class="c8 s2">
      <h2>To validate / launch, we took beers to some of our favourite startups in Shoreditch. The response was amazing, so we proceeded by building features as and when they were needed</h2>
    </div>
  </div>

  <div class="row push-top">
    <div class="c3">
      <p class="small">
        <strong>v1.</strong> <em>late-2014.</em><br/><br/>
        
        A 'smoke and mirrors' static single page landing page to support our marketing stunt.
      </p>
      
    </div>
    <div class="c3 push-top-quart">
      <p class="small">
        <strong>v2.</strong> <em>early-2015.</em><br/><br/>
        We built and implemented features as we needed them. This resulted in a pretty crappy site.
      </p>
    </div>
    <div class="c3 push-top-half">
      <p class="small">
        <strong>v3.</strong> <em>mid-2015.</em><br/><br/>
        Once we had reached a level of completeness, we XXXX XXX XXXXXX XXXXXX XXXXX XXXX XXXX.
      </p>
    </div>
    <div class="c3 push-top-half-quart">
      <p class="small">
        <strong>v4.</strong> <em>mid-2016.</em><br/><br/>
        With the business expanding to offer more services, we had to revisit some of the messaging.
      </p>
    </div>
  </div>

  <div class="row no-margin">
    <div class="c3">
      <%= image_tag('deskbeers/dbv1.png') %>
    </div>
    <div class="c3 push-top-quart">

      <%= image_tag('deskbeers/dbv2.png') %>
    </div>
    <div class="c3 push-top-half">

      <%= image_tag('deskbeers/dbv3.png') %>
    </div>
    <div class="c3 push-top-half-quart">

      <%= image_tag('deskbeers/dbv4.png') %>
    </div>
  </div>





  <div class="row">
    <div class="c8 s2">
      <h2>We threw parties, catered events, and engaged with communities to spread the word</h2>
    </div>
  </div>

  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('deskbeers/db4.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('deskbeers/db6.jpg') %>
    </div>
  </div>


  <div class="row">
    <div class="c8 s2">
      <h2>Whilst growing the operational side, I iterated and refined the brand, visual design and UX as required.</h2>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('deskbeers/icons1.jpg') %>
    </div>
  </div>

  <div class="row">
    <div class="c10 s1">
      <%= image_tag('deskbeers/brand.jpg') %>
    </div>
  </div>

  <div class="row">
    <div class="c8 s2">
      <h2>(There's more to be added here - check back soon!)</h2>
    </div>
  </div>



</div>
<div class="wrapper grey">

  <div class="row">
    <div class="c4 s2">
      <a class="arrow" href="/yld">&#x2190; YLD</a>
    </div>
    <div class="c4">
      <a class="arrow right" href="/theround">The Round &#x2192;</a>
    </div>
  </div>

</div>