

<div class="wrapper intro">
  <div class="row push-top">
    <div class="c8 s2 med-c10 sml-c12">

      <h1>Marshall<br/>Havard</h1>
      <h3>Content, identity, visual design &amp; custom CMS build</h3>
      <h2>Being an established (25 years) local accountacy firm, I worked closely with all staff members to create a plan for </h2>
    
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c12">
      <hr />
    </div>
  </div>

  
  <div class="row push-top-half">

    <div class="c8 s2">
      <p>Stage one: Identity, content strategy, CMS build.</p>
      <p>Stage two: Visual design, brand assets, build completion.</p>

    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('mosaic/whiteboard.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('mosaic/sketches.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards1.jpg') %>
    </div>
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards2.jpg') %>
    </div>
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards3.jpg') %>
    </div>
  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/flow.png') %>
    </div>
  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/screens.jpg') %>
    </div>
  </div>


  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/cards.png') %>
    </div>
  </div>


</div>

<div class="wrapper grey">

  <div class="row">
    <div class="c4 s2">
      <a class="arrow" href="/smr">&#x2190; SMR</a>
    </div>
    <div class="c4">
      <a class="arrow right" href="/containercamp">Container Camp &#x2192;</a>
    </div>
  </div>

</div>