<% content_for :title, 'moo' %>


<div class="wrapper">
  <div class="row">
    <div class="c8 med-c10 sml-c12">

      <h1>Moo</h1>
      <p>As a leader in business card printing, Moo established a R&amp;D team to explore ventures into digital products. I joined them for two months to help discover what the digital business card could be.</p>

    </div>
    <div class="c1 s2 med-s0">
      <a class="arrow" href="/smr">&#x2190;</a>
    </div>
    <div class="c1">
      <a class="arrow" href="/yld">&#x2192;</a>
    </div>

  </div>

  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('mosaic/whiteboard.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('mosaic/sketches.jpg') %>
    </div>
  </div>
</div>
<div class="wrapper grey">
  <div class="row">
    <div class="c10">
      <h2>Research &amp; Brainstorming</h2>
      <p>I conducted some initial stakeholder and team interviews to try to quickly determine the key areas to highlight on the sales page. It quickly emerged that each member of each team had different ideas and perspectives. To illustrate this back to the team, as well as attempt to sift through what was actually important and what was just habit, I ran several paper prototyping sessions. Alongside this, I compiled an analysis of the SMR brand, ran some user stories sessions, and conducted some user research.</p>

    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards1.jpg') %>
    </div>
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards2.jpg') %>
    </div>
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards3.jpg') %>
    </div>
  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/flow.png') %>
    </div>
  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/screens.jpg') %>
    </div>
  </div>


  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/cards.png') %>
    </div>
  </div>

  <div class="row">
    <div class="c8 med-c10 sml-c12">
      <p>After rounds of brainstorming, paper prototyping and testing, a concept had been solidified to take to the next step. Wanting to test regularly, we set about creating an MVP that would allow people to understand and engage with the product with little pretext.</p>

      <p>We felt it was important to make the MVP more than just wireframes. This was so we could get the best response from our potential users. I developed a simple style to implement across the app.</p>

      <p>I left the project when we had arrived a an operational alpha app. This went on to be tested and made into a fully released app.</p>
    </div>
  </div>

</div>