

<div class="intro mosaic">

    <%= image_tag('mosaic/onboard_intro.png') %>
    
</div>
<div class="wrapper">
  <div class="row">
    <div class="c8 s2 med-c10 med-s0 sml-c12">

      <h1>Moo<br/><span>(Mosaic)</span></h1>
      <h3>Product definition, research, testing &amp; prototyping</h3>
      <h2>I worked with the Heads of Tech and Product at Moo for three months to help discover what the digital business card could be. When I arrived, they had little more than a few sketches from their initial meetings, and I helped them get to an alpha product to test with potential users.</h2>

    
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c12 med-s0">
      <hr />
    </div>
  </div>

  
  <div class="row push-top-half">
    <div class="c4 s2 med-c6 med-s0 sml-c12">
      <p>As a leader in business card printing, Moo established a R&amp;D team to explore ventures into digital products. I joined them for two months to help discover what the digital business card could be. My role was to assist the Head of Technology and Head of Product with the UX and visual design of the first few iterations of the app.</p>
    </div>
    <div class="c4 med-c6 med-s0 sml-c12">
      <p>After rounds of brainstorming, paper prototyping and testing, a concept had been solidified to take to the next step. Wanting to test regularly, we set about creating an MVP that would allow people to understand and engage with the product with little pretext.</p>

      <p>We felt it was important to make the MVP more than just wireframes. This was so we could get the best response from our potential users. I developed a simple style to implement across the app. I left the project when we had arrived a an operational alpha app. This went on to be tested and made into a fully released app.</p>

    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('mosaic/whiteboard.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('mosaic/sketches.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards1.jpg') %>
    </div>
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards2.jpg') %>
    </div>
    <div class="c4 sml-c12">
      <%= image_tag('mosaic/cards3.jpg') %>
    </div>
  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/flow.png') %>
    </div>
  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/screens.jpg') %>
    </div>
  </div>


  <div class="row">
    <div class="c12">
      <%= image_tag('mosaic/cards.png') %>
    </div>
  </div>



  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/smr">SMR</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/containercamp">Container<br/>Camp</a>
    </div>
  </div>

</div>