
<div class="wrapper">
  <div class="row">
    <div class="c7">

      <p>Product stuff</p>

    </div>

    <div class="c2 s2">
      <p>_</p>

    </div>

  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('product/m1.jpg') %>
      <%= image_tag('product/m2.png') %>
      <%= image_tag('product/m3.jpg') %>
      <%= image_tag('product/m4.jpg') %>
      <%= image_tag('product/r1.jpg') %>
    </div>
  </div>
</div>