<% content_for :title, 'projecteo' %>


<div class="wrapper intro projecteo">
  <div class="row">
    <div class="c4 s4">
      <%= image_tag('projecteo/illustration.png') %>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="row">
    <div class="c8 s2 med-c10 sml-c12">

      <h1>Projecteo</h1>
      <h3>Identity, visual design, UX &amp; launch campaign</h3>

      <h2>Invented by Ben Redford, Projecteo is a miniature Instagram projector that I helped launch through Kickstarter. Over the course of this project, I worked closely to Ben to create a sucessful campaign and onto a seamless online/offline experience after launch.</h2>

    </div>

  </div>


  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('projecteo/1.png') %>

      <%= image_tag('projecteo/illos.png') %>
    </div>
    <div class="c6 sml-c12">
      <div class="row">
          <%= image_tag('projecteo/web1.jpeg') %>

      </div>
      <div class="row">
        <%= image_tag('projecteo/web2.jpeg') %>
      </div>
      <div class="row">
        <%= image_tag('projecteo/4.png') %>
      </div>
      <div class="row">
        <%= image_tag('projecteo/mobile.png') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= video_tag('projecteo/Projecteo.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('projecteo/illustration2.png') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('projecteo/marketing-illustration1.png') %>
    </div>
  </div>
    <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('projecteo/marketing5.png') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('projecteo/marketing1.png') %>
    </div>
  </div>

  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/marshallhavard">Marshall</br>Havard</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/">Home</a>
    </div>
  </div>

</div>