<% content_for :title, 'projecteo' %>


<div class="wrapper">
  <div class="row">
    <div class="c8">

      <h1>Projecteo</h1>
      <p>I worked with node.js shop on a variety of their inhouse branding projects. From their over arching identity, to the personal projects of some of the team.</p>

    </div>
    <div class="c1 s2">
      <a class="arrow" href="/theround">&#x2190;</a>
    </div>
    <div class="c1">
      <a class="arrow" href="/archive">&#x2192;</a>
    </div>

  </div>


  <div class="row">
    <div class="c6">
      <%= image_tag('projecteo/1.png') %>

      <%= image_tag('projecteo/illos.png') %>
    </div>
    <div class="c6">
      <div class="row">
          <%= image_tag('projecteo/web1.jpeg') %>

      </div>
      <div class="row">
        <%= image_tag('projecteo/web2.jpeg') %>
      </div>
      <div class="row">
        <%= image_tag('projecteo/4.png') %>
      </div>
      <div class="row">
        <%= image_tag('projecteo/mobile.png') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= video_tag('projecteo/Projecteo.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>
  </div>
  <div class="row">
    <div class="c6">
      <%= image_tag('projecteo/illustration2.png') %>
    </div>
    <div class="c6">
      <%= image_tag('projecteo/marketing-illustration1.png') %>
    </div>
  </div>
    <div class="row">
    <div class="c6">
      <%= image_tag('projecteo/marketing5.png') %>
    </div>
    <div class="c6">
      <%= image_tag('projecteo/marketing1.png') %>
    </div>
  </div>
</div>