<% content_for :title, 'smr' %>


<div class="wrapper intro smr">
  <div class="row">
    <div class="c8 s2 med-c10 sml-c12">

      <h5>Silicon Milkroundabout</h5>
      <h1>Making a much loved event come alive</h1>
      <p>Branding / Design / Print / Strategy</p>


    </div>

    <!--
    <div class="c1 s3 med-s1">
      <a class="arrow" href="/moo">&#x2192;</a>
    </div>
    -->

  </div>

  <div class="row">
    <div class="c8 s2">
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="row">
    <div class="c8 s2">
      <p>Silicon Milkroundabout is Europe's leading tech job fair. Having held eleven bi-annual events in London, they attract upto 200 companies and thousands of candidates. I have worked with them on their past three events to deliver the event branding, design production, product development and streamlining processes.</p>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="row">
    <div class="c12">
      <%= image_tag('smr/brand.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('smr/panorama.jpg') %>
    </div>
  </div>
</div>



<div class="wrapper">

  <div class="row">
    <div class="c12">
      <h2>2015</h2>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('smr/smr10_entrance.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('smr/smr10_handingout.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('smr/smr10_lanyards.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('smr/smr10_stickers.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('smr/smr10_totes.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('smr/smr10_floorplan.jpg') %>
    </div>
  </div>


</div>