<% content_for :title, 'smr' %>


<div class="wrapper">
  <div class="row">
    <div class="c8">

      <h1>Silicon Milkroundabout</h1>
      <p>Silicon Milkroundabout is Europe's leading tech job fair. Having held eleven bi-annual events in London, they attract upto 200 companies and thousands of candidates. I have worked with them on their past three events to deliver the printed materials and social/email campaigns.</p>

    </div>
    <div class="c1 s2">
    </div>
    <div class="c1">
      <a class="arrow" href="/moo">&#x2192;</a>
    </div>

  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('smr/brand.png') %>
      <p>SMR12 images coming soon</p>
    </div>
  </div>


  <div class="row">
    <div class="c12">
      <p>This has been an extremely slow iterative process. With just two events per year, and so much attachment to what has been done before ("it kind of works, so why change it?"), progress has been relatively slow.
  (images of progression of floorplan and booklet, with notes - easier to make, easier to use) </p>
    </div>
  </div>


  <div class="row">
    <div class="c12">
      <p>SMR10</p>
      <p>(smr10 photos courtesy of....)</p>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('smr/smr10_entrance.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6">
      <%= image_tag('smr/smr10_handingout.jpg') %>
    </div>
    <div class="c6">
      <%= image_tag('smr/smr10_lanyards.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6">
      <%= image_tag('smr/smr10_stickers.jpg') %>
    </div>
    <div class="c6">
      <%= image_tag('smr/smr10_totes.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('smr/smr10_floorplan.jpg') %>
    </div>
  </div>
</div>