
<div class="wrapper">
  <div class="row">
    <div class="c8">

      <h1>The Round</h1>
      <p>Silicon Milkroundabout wanted to expand to the States. So they got me on board to tackle the design strategy of creating a multi city event. This challenge covered several aspects including developing a temporary transition brand, creating a roadmap and strategy to implement a full brand as well as creating content for designing the layout of the sales site.</p>

    </div>
    <div class="c1 s2">
      <a class="arrow" href="/deskbeers">&#x2190;</a>
    </div>
    <div class="c1">
      <a class="arrow" href="/projecteo">&#x2192;</a>
    </div>

  </div>

  <div class="row">
    <div class="c9">
      <%= image_tag('theround/smr1.png') %>
    </div>
    <div class="c3">
      <p class="small">The team had a lot of preconception of what should be where. To explore this, I did three rounds of paper prototyping with three of the teams. WThis was a great way of getting to the answers behind what they really thought.</p>
    </div>
  </div>
  <div class="row">
    <div class="c6">
      <%= image_tag('theround/r1.png') %>
    </div>
    <div class="c6">
      <%= image_tag('theround/weboption.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <p>Disecting the current brand and building the new</p>
    </div>
  </div>
  <div class="row">
    <div class="c6">
      <%= image_tag('theround/r1.jpg') %>
    </div>

    <div class="c6">
      <%= image_tag('theround/brand-strategy.png') %>
    </div>
  </div>
</div>