
<div class="wrapper intro round">
  <div class="row">
    <div class="c12">
      <%= image_tag('round/laptop.gif') %>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="row">
    <div class="c8 s2 med-c12 med-s0">
      <h1>The Round</h1>
      <h3>Content, stratgey, visual design &amp; front end code</h3>
      <ul class="bullets push-top-half t-center">
        <li>Planned &amp; conducted/oversaw research in UK &amp; US to gain critical insights</li>
        <li>Planned &amp; conducted stakeholder sessions to refine marketing site content and message</li>
        <li>Produced an interim visual style and roadmap for full branding integration</li>
        <li>HTML &amp; CSS for marketing site</li>
        <li>Produced roadmap for full site architecture</li>
        <li>Laid groundwork to enable full time designers to come in advance quickly</li>
      </ul>
      <hr class="push-top-half" />
    </div>
  </div>

  <div class="row push-top-half small">
    <div class="c4 s2 med-c6 med-s0 sml-c12">
      <p>Silicon Milkroundabout is an established tech job fair in London. In 2015, they decided to take their winning formula to New York, San Francisco and further afield. This provided an interesting challenge - to take a single bi-annual event, and make its brand, UX and processes suitable for multiple events across multiple cities.</p>
      <p>I was challenged to develop a temporary transition brand (as well as a implementation strategy of a full brand), and creating content &amp; designing the sales site of SMR's expansion to the States.</p>
      <p>I conducted some initial stakeholder and team interviews to try to quickly determine the key areas to highlight on the sales page. It quickly emerged that each member of each team had different ideas and perspectives. To illustrate this back to the team, as well as attempt to sift through what was actually important and what was just habit, I ran several paper prototyping sessions. Alongside this, I compiled an analysis of the SMR brand, ran some user stories sessions, and conducted some user research.</p>

    </div>
    <div class="c4 med-c6 sml-c12">
      <p>The desire was to have a full branding exercise undertaken on The Round, but time and money were against us. So we opted to create a temporary brand that could evolve over time, and be built upon when the opportunity arose. As such, we chose a photographic + block colour route, rather than utilising any illustrations or icons that could limit or dictate future evolutions.</p>
      <p>The event is unique and often hectic. Using a grid in this way helped to communicate this, as well as showcase some of the companies that have attended previously.</p>
    </div>
  </div>

  <div class="row">
    <div class="c10 s1 med-c12 med-s0">
      <%= image_tag('theround/smr1.png') %>
    </div>
  </div>

  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('theround/r1.jpg') %>
    </div>

    <div class="c6 sml-c12">
      <%= image_tag('theround/brand-strategy.png') %>
    </div>
  </div>
</div>

  <div class="row push-bottom">
    <div class="c8 s2 med-c12 med-s0">
      <h2>The first task was to establish the preconceptions, goals and visions of the team and stakeholders. Whilst tackling the content and longer term strategy, I worked on creating the transitional visual identity</h2>
    </div>
  </div>

<%= image_tag('round/grid.jpg') %>




<div class="wrapper dark-grey">
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('round/page2.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('round/page3.jpg') %>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('theround/r1.png') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('theround/weboption.png') %>
    </div>
  </div>

  <div class="row">
    <div class="c10 s1 med-c12 med-s0">
      <%= video_tag('round/SMR_video.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>

  </div>

    <div class="row">
    <div class="c8 s2">
      <h2>(There's more to be added here - check back soon!)</h2>
    </div>
  </div>



  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/deskbeers">DeskBeers</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/yld">YLD</a>
    </div>
  </div>



</div>