
<div class="wrapper intro round">
  <div class="row">
    <div class="c8 s2 med-c10 sml-c12">

      <h5>The Round</h5>
      <h1>Helping an established event break the American market</h1>
      <p class="small">Research / Strategy / Design / Front End</p>

    </div>
    <!--
    <div class="c1 s2 med-s0">
      <a class="arrow" href="/deskbeers">&#x2190;</a>
    </div>
    <div class="c1">
      <a class="arrow" href="/projecteo">&#x2192;</a>
    </div>
    -->

  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('round/laptop.gif') %>
    </div>
  </div>
</div>
<div class="wrapper grey">
  <div class="row">
    <div class="c8 s2">
      <p>Silicon Milkroundabout wanted to expand to the States. So they got me on board to tackle the design strategy of creating a multi city event. This challenge covered several aspects including developing a temporary transition brand, creating a roadmap and strategy to implement a full brand as well as creating content for designing the layout of the sales site.</p>
      <h2>Research</h2>
      <p>I conducted some initial stakeholder and team interviews to try to quickly determine the key areas to highlight on the sales page. It quickly emerged that each member of each team had different ideas and perspectives. To illustrate this back to the team, as well as attempt to sift through what was actually important and what was just habit, I ran several paper prototyping sessions. Alongside this, I compiled an analysis of the SMR brand, ran some user stories sessions, and conducted some user research.</p>

    </div>
  </div>
</div>
<div class="wrapper">

  <div class="row">
    <div class="c10 s1">
      <%= image_tag('theround/smr1.png') %>
    </div>
  </div>

  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('theround/r1.jpg') %>
    </div>

    <div class="c6 sml-c12">
      <%= image_tag('theround/brand-strategy.png') %>
    </div>
  </div>
  <div class="row push-top">
    <div class="c8 s2">
      <h2>Visual design</h2>
      <p>The desire was to have a full branding exercise undertaken on The Round, but time and money were against us. So we opted to create a temporary brand that could evolve over time, and be built upon when the opportunity arose. As such, we chose a photographic + block colour route, rather than utilising any illustrations or icons that could limit or dictate future evolutions.</p>
      <p>The event is unique and often hectic. Using a grid in this way helped to communicate this, as well as showcase some of the companies that have attended previously.</p>

    </div>
  </div>
</div>

<%= image_tag('round/grid.jpg') %>


<div class="wrapper">
  <div class="row">
    <div class="c10 s1">
      <%= video_tag('round/SMR_video.mp4', controls: false, autoplay: true, muted: true, loop: true) %>
    </div>

  </div>
</div>

<div class="wrapper dark-grey">
  <div class="row">
    <div class="c6">
      <%= image_tag('round/page2.jpg') %>
    </div>
    <div class="c6">
      <%= image_tag('round/page3.jpg') %>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('theround/r1.png') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('theround/weboption.png') %>
    </div>
  </div>
  
</div>

<div class="wrapper dark-grey">
  <div class="row">
    <div class="c10">
      <h2>What else</h2>
      <p>Naming, copywriting, strategy, product management.</p>

    </div>
  </div>
</div>