<% content_for :title, 'archive' %>


<div class="wrapper">
  <div class="row">
    <div class="c8 med-c10 sml-c12">

      <h1>UX Archive</h1>
      <h2>Join In</h2>
      <p>Whilst at Mint Digital, I headed up a team to deliver a three stage launch of the digital platform of Join In. Working closely with their stakeholders and our inhouse development team, XXXX</p>

    </div>
    <div class="c1 s1 med-s0">
      <a class="arrow" href="/projecteo">&#x2190;</a>
    </div>
    <div class="c1">
      <a class="arrow" href="/visualarchive">&#x2190;</a>
    </div>

  </div>



  <div class="row">
    <div class="c12">
      <%= image_tag('archive/ji-ux1.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood_bats.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wood_stickers.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/ji2.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/ji1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wu1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('archive/wu_web.jpg') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('archive/wu3.jpg') %>
      <%= image_tag('archive/wu4.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wu_illos.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/wu_illo1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/m1.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/2.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/3.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/4.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/5.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/6.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('archive/9.jpg') %>
    </div>
  </div>
</div>