

<div class="wrapper intro yld">

  <div class="row push-top">
    <div class="c8 s2 med-c12 med-s0">
      <h1>YLD</h1> 
      <h3>Various identities &amp; Visual design</h3>
      <h2>I worked with YLD on and off for six months to help with branding and design for their agency and ventures.</h2>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('yld/logos.png') %>
    </div>
  </div>


  <div class="row">
    <div class="c12">
      <%= image_tag('yld/web.png') %>
    </div>
  </div>
  

  <div class="row">
    <div class="image rounded">
      <div class="c4">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 148.1 116.9" enable-background="new 0 0 148.1 116.9" xml:space="preserve">
                            <path class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" d="M69.8,81.2l0.8,9.1c0,0.3,0.3,0.6,0.6,0.7L90,96.9
                                c0.3,0.1,0.8,0.1,1.1,0l18.8-5.8c0.3-0.1,0.6-0.4,0.6-0.7l2.4-27c0-0.3-0.2-0.6-0.5-0.7l-15-4.6"/>
                            <line class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" x1="97.4" y1="41.4" x2="128.4" y2="41.4"/>
                            <rect class="path" x="14.1" y="24.5" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" width="83.2" height="56.7"/>
                            <line class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" x1="44.9" y1="81.9" x2="44.9" y2="93.9"/>
                            <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="128.9,116.9 128.9,36.4 96.4,36.4 "/>
                            <polyline class="path-long" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="142.7,0 142.7,107.8 1.2,107.8 1.2,10.3 148.1,10.3 "/>
                            <line class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" x1="8.4" y1="28.4" x2="97.4" y2="28.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="22.4" y1="42.4" x2="32.4" y2="42.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="20.4" y1="38.4" x2="30.4" y2="38.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="20.4" y1="52.4" x2="26.4" y2="52.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="35.4" y1="42.4" x2="40.4" y2="42.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="42.4" y1="42.4" x2="49.4" y2="42.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="52.4" y1="42.4" x2="63.4" y2="42.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="65.4" y1="42.4" x2="76.4" y2="42.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="22.4" y1="47.4" x2="37.4" y2="47.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="40.4" y1="47.4" x2="47.4" y2="47.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="51.4" y1="47.4" x2="56.4" y2="47.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="59.4" y1="47.4" x2="69.4" y2="47.4"/>
                            <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="73.4" y1="47.4" x2="82.4" y2="47.4"/>
                            <polygon class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="131.9,18.4 131.9,17.4 128.9,17.4 128.9,18.2 128.9,23.4 
                                135.9,23.4 135.9,18.4 "/>
                            </svg>
                        </div>

                        <div class="c4">
                            
                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 124.5 140.3" enable-background="new 0 0 124.5 140.3" xml:space="preserve">
                        <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="0,7.8 91.8,7.8 91.8,50.1 "/>
                        <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="57.9,121.9 8.6,121.9 8.6,3.1 "/>
                        <g>
                            <g>
                                <path class="path" fill="#FFFFFF" d="M92,75.3l10.5,3.2l-1.2,13.1l-9.3,2.9l-9.4-2.9l-1.2-13L92,75.3L92,75.3L92,75.3 M92,74.3
                                    c-0.1,0-0.2,0-0.3,0l-11.1,3.4c-0.2,0-0.3,0.2-0.3,0.4L81.7,92c0,0.2,0.2,0.3,0.3,0.4l9.7,3c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0
                                    l9.7-3c0.2,0,0.3-0.2,0.3-0.4l1.3-13.9c0-0.2-0.1-0.3-0.3-0.4l-11-3.4C92.2,74.3,92.1,74.3,92,74.3L92,74.3z"/>
                            </g>
                        </g>
                        <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="86.8" y1="103.5" x2="97.8" y2="103.5"/>
                        <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="84.8" y1="107.5" x2="99.8" y2="107.5"/>
                        <line class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="20.5" x2="32.8" y2="20.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="31.5" x2="81.8" y2="31.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="37.5" x2="81.8" y2="37.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="42.5" x2="81.8" y2="42.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="47.5" x2="81.8" y2="47.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="53.5" x2="57.8" y2="53.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="58.5" x2="57.8" y2="58.5"/>
                        <line class="path" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="17.8" y1="64.5" x2="57.8" y2="64.5"/>
                        <path class="path-short" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" d="M78.3,4v8.2c0,1.8,1.3,2.3,2,2.3c0.7,0,2-0.5,2-2.3V0"/>
                        <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="57.9,125.1 57.9,50.1 122.6,50.1 122.6,131.4 62.2,131.4 "/>
                        <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="57.9,127.5 57.9,50.1 62.2,50.1 62.2,140.3 "/>
                        </svg>
                        </div>

                        <div class="c4">
                            <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 148.7 104.3" enable-background="new 0 0 148.7 104.3" xml:space="preserve">
                        <rect class="path-long" x="3.7" y="9.1" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" width="136.9" height="82.9"/>
                        <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="143.4,9.1 0.8,9.1 0.8,3.4 148.7,3.4 "/>
                        <polyline class="path" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="0.8,99.9 0.8,92 143.4,92 143.4,97.7 -2.7,97.7 "/>
                        <g>
                            <g>
                                <path class="path" fill="#FFFFFF" d="M72.4,35.1c0.1,0,0.1,0,0.1,0l16.6,5.1l-1.9,20.8l-14.7,4.5c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.1,0l-14.8-4.5
                                    l-1.9-20.8l16.6-5.1C72.2,35.1,72.3,35.1,72.4,35.1 M72.4,34.1c-0.2,0-0.3,0-0.4,0.1l-17,5.2c-0.2,0.1-0.4,0.3-0.4,0.6l1.9,21.4
                                    c0,0.2,0.2,0.5,0.5,0.6l15,4.6c0.1,0,0.3,0.1,0.4,0.1c0.2,0,0.3,0,0.4-0.1L87.7,62c0.2-0.1,0.5-0.3,0.5-0.6L90.1,40
                                    c0-0.2-0.2-0.5-0.4-0.6l-16.9-5.2C72.7,34.2,72.5,34.1,72.4,34.1L72.4,34.1z"/>
                            </g>
                        </g>
                        <rect class="path-short" x="70.8" y="0.8" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" width="3.2" height="2.6"/>
                        <polyline class="path-short" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="30.8,103.3 30.8,97.7 34,97.7 34,102.3 "/>
                        <polyline class="path-short" fill="none" stroke="#1BB7D4" stroke-miterlimit="10" points="110.2,102.3 110.2,97.7 113.4,97.7 113.4,104.3 "/>
                        </svg>
                        </div>
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c12 med-s0 push-top">
      <h2>I worked with individual team members to create identities for their book series'</h2>
    </div>
  </div>

  <div class="row">
    <div class="c12 push-top-half">
      <%= image_tag('yld/nodepatterns.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('yld/n3.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('yld/books.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c12">
      <%= image_tag('yld/cloudpatterns.jpg') %>
    </div>
  </div>



  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/theround">The Round</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/deskbeers-design">DeskBeers (Design)</a>
    </div>
  </div>

</div>