<!DOCTYPE html>
<html>
<head>
  <title>Steve Marshall - Design, Product, etc.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Martel:400,800,900" rel="stylesheet">

</head>
<body>
  <div class="header">
      <div class="c6">
        <p><a href="/">Steve Marshall</a></p> 
      </div>
      <div class="c6">
        <ul class="nav">
          <li><a href="/work" class="<%= yield(:work) %>">Work</a></li>
          <li><a href="/about" class="<%= yield(:about) %>">About</a></li>
        </ul>
      </div>
  </div>

  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
